.jumbotron {
    background: url('image/background.jpg ') center/cover no-repeat;
    padding: 10rem 1.25rem;
    color: white;
    position: relative;
}

.jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.jumbotron-content {
    position: relative;
    z-index: 2;
}

#projects img {
    border-radius: 12px;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(6px);
}

body {
    background-color: #0b0f19;
    color: #e5e5e5;
}

section {
    padding-top: 5rem;
}

.active-link {
    color: #4da8ff !important;
    font-weight: bold;
    border-bottom: 2px solid #4da8ff !important;
}

#navbarNav a:hover {
    color: white;
    border-bottom: 2px solid white;
}

#about {
    background-color: rgba(20, 25, 38, 0.8);
    color: #d8d8d8;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 7.5rem !important;
}

#about .card {
    background-color: #151b28 !important;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 14px;
    transition: transform .2s ease, box-shadow .2s ease;
}

#about .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

#projects {
    background-color: rgba(15, 20, 30, 0.85);
    color: #e8e8e8;
    padding-bottom: 7.5rem !important;
}

#projects .card {
    background-color: #1b2233;
    color: #f0f0f0;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#projects .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

#projects .card-body {
    border-top: 1px solid rgba(255,255,255,0.1);
    height: 15.6rem;
}

#contact {
    border-top: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(20, 25, 38, 0.8);
    color: #e8e8e8;
    padding-bottom: 7.5rem !important;
}

#contact input, #contact textarea {
    background-color: #101521;
    border: 1px solid #2c3446;
    color: white;
}

::placeholder {
    color: #888 !important;
}

footer {
    background: #0a0d14;
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* Popup Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease forwards;
    z-index: 3;
}

/* Popup Box */
.popup-content {
    background: #0b0f19;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    animation: popupFadeIn 0.4s ease forwards;
}

/* Fade in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popupFadeIn {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}